<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header">
      Te Llevo APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div id="title">
      <h2>Bienvenido a TeLlevoAPP</h2>
      <p>La aplicación de DuocUC que te permite llegar a tu casa de manera rápida y segura.</p>
      <h3>Porfavor ingresa sesion para continuar</h3>
    </div>
    <ion-list id="form">
      <ion-item>
        <ion-input label="Nombre de Usuario" labelPlacement="stacked" placeholder="Ingresa tu username" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-input type="password" label="Contraseña" labelPlacement="stacked" placeholder="Ingresa tu contraseña" [(ngModel)]="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>
    <div id="button">
      <ion-button  expand="block" id="button" (click)="validateLogin()">Ingresar</ion-button>
      <ion-button  expand="block" id="button" fill="outline" (click)="goToRegister()" >Registrarse</ion-button>
      <p><a [routerLink]="['/recover']">Olvidaste tu contraseña?</a></p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title id="footer">
      <ion-label>© 2024 TeLlevoAPP</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-footer>
