ion-toolbar {
  --background: #0A0908;
  ion-buttons {
    ion-button {
      --color: #FFEE38;
    }
  }
}

#container {
    --background: #0A0908;
    text-align: center;

    ion-card-subtitle {
        --color: #2cff2c;
    }

    ion-button{
        --background: #69278c; 
        --background-activated: #530080;
        --border-radius: 10px;
        --color: #FFF6F0; 
        --padding-end: 2px;
        --padding-start: 2px;
        --padding-top: 1px;
        --padding-bottom: 1px;
        --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Darker shadow */
        --box-shadow-activated: 0 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow */
        --box-shadow-focused: 0 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow */
        --box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow */
        --box-shadow-pressed: 0 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow */

        margin-top: 10px;
        margin-bottom: 1px;
    }

    margin-left: 2%;
    margin-right: 2%;

    #title {
        display: inline-block;
        align-items:center;
        flex-direction: column;
        text-align: center;
    }
    #delete {
    --background: #8c2727; 
    --background-activated: #800000;
    --border-radius: 10px;
    --color: #FFF6F0; 
    --padding-end: 2px;
    --padding-start: 2px;
    --padding-top: 1px;
    --padding-bottom: 1px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Darker shadow */
    --box-shadow-activated: 0 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow */
    --box-shadow-focused: 0 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow */
    --box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow */
    --box-shadow-pressed: 0 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow */
}
}
