<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header">Te Llevo APP  |  Registro</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/log-in']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div id="title">
      <h2>Bienvenido a TeLlevoAPP</h2>
      <p>La aplicación de DuocUC que te permite llegar a tu casa de manera rápida y segura.</p>
      <h3>Porfavor ingresa tus datos para registrarte</h3>
    </div>
    <ion-list id="form">
      <ion-item>
        <ion-input label="Nombre de Usuario" labelPlacement="stacked" placeholder="Ingresa tu username" [(ngModel)]="user.username"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input label="Nombre" labelPlacement="stacked" placeholder="Ingresa tu nombre" [(ngModel)]="user.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Apellido" labelPlacement="stacked" placeholder="Ingresa tu apellido" [(ngModel)]="user.lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>¿Tienes Auto?</ion-label>
        <ion-toggle slot="end" class="custom-toggle" [(ngModel)]="user.driver"></ion-toggle>
        <span class="toggle-text">{{ user.driver ? 'Sí' : 'No' }}</span>
        <ion-icon slot="end" name="car-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input label="Correo" labelPlacement="stacked" placeholder="Ingresa tu correo" [(ngModel)]="user.email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Contraseña" labelPlacement="stacked" placeholder="Ingresa tu contraseña" [(ngModel)]="user.password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" id="button" (click)="register()" [disabled]="!isFormValid">Registrarse</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title id="footer">
      <ion-label>© 2024 TeLlevoAPP</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-footer>
