#container {
    text-align: center;
    --color: #ffffff;
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  #container h3{
    margin-bottom: 5%;
    margin-top: 10%;
  }
  
  #container ion-button {
    color: white;
    margin-top: 2%;
    margin-bottom: 4%;
    --background: #69278c;
    outline: none;
    border: none;
  }

  #form {
    margin-bottom: 5%;
  }
  
.custom-toggle {
  margin-right: 10px;
}

.toggle-text {
  margin-right: 10px;
  font-weight: bold;
}


ion-content{
  ion-button{
    --background: #69278c
  }
}





  