<ion-header *ngIf="mostrarContenido" [translucent]="true">
  <ion-toolbar>
    <ion-title>Te Llevo APP | Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="mostrarContenido" [fullscreen]="true">
  <div id="container">
    <div id="title">
      <h2>Bienvenido, {{ user?.username }}!</h2>
      <p>A la aplicación de DuocUC que te permite llegar a tu casa de manera rápida y segura.</p>
    </div>
    <div>
      <ion-button expand="full" (click)="mostrarFormularioViaje()">Registra tu Viaje</ion-button>
      <ion-button expand="full" (click)="mostrarViajesRegistrados()">Ver Viajes Disponibles</ion-button>
    </div>

    <div *ngIf="mostrarFormulario">
      <h4>Registrar Tu Viaje</h4>
      <ion-item>
        <ion-input label="Nombre del Chofer" labelPlacement="floating" [(ngModel)]="choferNombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Nombre Destino" labelPlacement="floating" [(ngModel)]="destino"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Matrícula" labelPlacement="floating" [(ngModel)]="matricula"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Horario" labelPlacement="floating" type="time" [(ngModel)]="horario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Costo del Viaje" labelPlacement="floating" type="number" [(ngModel)]="costoPorPersona"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Cantidad de Asientos Disponibles" labelPlacement="floating" type="number" [(ngModel)]="asientosDisponibles"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="registrarViaje()">Registra Tu Viaje</ion-button>
    </div>

    <div *ngIf="mostrarViajes">
      <h4>Viajes Disponibles</h4>
      <ion-list>
        <ion-item *ngFor="let viaje of viajesRegistrados">
          <ion-label>
            <h2>{{ viaje.destination }}</h2>
            <p>Costo: {{ viaje.pricePerPerson | currency }}</p>
            <p>Matrícula: {{ viaje.licensePlate }}</p>
            <p>Horario: {{ viaje.horario }}</p>
            <p>Nombre del Chofer: {{ viaje.driverId }}</p>
            <p>Asientos Disponibles: {{ viaje.totalCapacity - viaje.totalPassengers }}</p>
          </ion-label>
          <div>
            <ion-button expand="full" (click)="registrarseEnViaje(viaje)">unirse</ion-button>
            <ion-button expand="full" (click)="verCapacidad(viaje)">Ver Capacidad</ion-button>
          </div>
        </ion-item>
      </ion-list>
      <p *ngIf="viajeSeleccionado">Has seleccionado: {{ viajeSeleccionado.destination }}</p>
    </div>

    <div *ngIf="mostrarRegistroViaje">
      <h4>Unete al viaje</h4>
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Apellido" labelPlacement="floating" [(ngModel)]="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="metodoPago" placeholder="Método de Pago">
          <ion-select-option value="efectivo">Efectivo</ion-select-option>
          <ion-select-option value="transferencia">Transferencia</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" (click)="registrarParticipante()">unirse</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title id="footer">
      <ion-label>© 2024 TeLlevoAPP</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-footer>
